/* aurora-x 主题 CSS 变量 */
:root {
  --activityBar-background: #07090F;
  --activityBar-foreground: #86A5FF;
  --activityBar-inactiveForeground: #576dafc5;
  --activityBarBadge-background: #86A5FF;
  --activityBarBadge-foreground: #07090F;
  --badge-background: #86A5FF;
  --badge-foreground: #07090F;
  --breadcrumb-activeSelectionForeground: #86A5FF;
  --breadcrumb-focusForeground: #576daf;
  --breadcrumb-foreground: #576dafa6;
  --breadcrumbPicker-background: #07090F;
  --button-background: #86A5FF;
  --button-foreground: #07090F;
  --button-hoverBackground: #A8BEFF;
  --descriptionForeground: #576daf79;
  --diffEditor-diagonalFill: #15182B;
  --diffEditor-insertedTextBackground: #64d3892c;
  --diffEditor-removedTextBackground: #dd50742c;
  --dropdown-background: #15182B;
  --dropdown-foreground: #c7d5ff99;
  --editor-background: #07090F;
  --editor-findMatchBackground: #576daf;
  --editor-findMatchHighlightBackground: #262E47;
  --editor-inactiveSelectionBackground: #262e47be;
  --editor-selectionBackground: #262E47;
  --editor-selectionHighlightBackground: #262E47;
  --editor-wordHighlightBackground: #262E47;
  --editor-wordHighlightStrongBackground: #262E47;
  --editorCodeLens-foreground: #262E47;
  --editorCursor-background: #01030b;
  --editorCursor-foreground: #86A5FF;
  --editorGroup-background: #07090F;
  --editorGroup-border: #15182B;
  --editorGroup-dropBackground: #0C0E19;
  --editorGroup-emptyBackground: #07090F;
  --editorGroupHeader-tabsBackground: #07090F;
  --editorLineNumber-activeForeground: #576dafd8;
  --editorLineNumber-foreground: #262e47bb;
  --editorWidget-background: #15182B;
  --editorWidget-border: #576daf;
  --extensionButton-prominentBackground: #C7D5FF;
  --extensionButton-prominentForeground: #07090F;
  --focusBorder: #262E47;
  --foreground: #576daf;
  --gitDecoration-addedResourceForeground: #64d389fd;
  --gitDecoration-deletedResourceForeground: #dd5074;
  --gitDecoration-ignoredResourceForeground: #576daf90;
  --gitDecoration-modifiedResourceForeground: #c778db;
  --gitDecoration-untrackedResourceForeground: #576daf90;
  --icon-foreground: #576daf;
  --input-background: #15182B;
  --input-foreground: #86A5FF;
  --inputOption-activeForeground: #86A5FF;
  --inputValidation-errorBackground: #dd5073;
  --inputValidation-errorBorder: #dd5073;
  --inputValidation-errorForeground: #07090F;
  --list-activeSelectionBackground: #000000;
  --list-activeSelectionForeground: #86A5FF;
  --list-dropBackground: #000000;
  --list-errorForeground: #dd5074;
  --list-focusBackground: #01030b;
  --list-focusForeground: #86A5FF;
  --list-highlightForeground: #A8BEFF;
  --list-hoverBackground: #000000;
  --list-hoverForeground: #A8BEFF;
  --list-inactiveFocusBackground: #01030b;
  --list-inactiveSelectionBackground: #000000;
  --list-inactiveSelectionForeground: #86A5FF;
  --list-warningForeground: #e6db7f;
  --notificationCenterHeader-background: #15182B;
  --notifications-background: #15182B;
  --panel-border: #15182B;
  --panelTitle-activeBorder: #86A5FF;
  --panelTitle-activeForeground: #C7D5FF;
  --panelTitle-inactiveForeground: #576daf;
  --peekViewTitle-background: #262E47;
  --quickInput-background: #0C0E19;
  --scrollbar-shadow: #01030b;
  --scrollbarSlider-activeBackground: #576daf;
  --scrollbarSlider-background: #262E47;
  --scrollbarSlider-hoverBackground: #576daf;
  --selection-background: #01030b;
  --sideBar-background: #07090F;
  --sideBar-border: #15182B;
  --sideBarSectionHeader-background: #07090F;
  --sideBarSectionHeader-foreground: #86A5FF;
  --statusBar-background: #86A5FF;
  --statusBar-debuggingBackground: #c778db;
  --statusBar-foreground: #07090F;
  --tab-activeBackground: #07090F;
  --tab-activeBorder: #86A5FF;
  --tab-activeForeground: #C7D5FF;
  --tab-border: #07090F;
  --tab-inactiveBackground: #07090F;
  --tab-inactiveForeground: #576dafd8;
  --terminal-ansiBrightRed: #dd5073;
  --terminal-ansiGreen: #63eb90;
  --terminal-ansiRed: #dd5073;
  --terminal-foreground: #A8BEFF;
  --textLink-foreground: #86A5FF;
  --titleBar-activeBackground: #07090F;
  --titleBar-activeForeground: #86A5FF;
  --titleBar-inactiveBackground: #07090F;
  --tree-indentGuidesStroke: #576daf;
  --widget-shadow: #01030b;
}
