/* 主题: dracula-soft - 频率最高的变量 */
:root {
  --editor-background: #282A36; /* 95.0% */
  --editor-foreground: #f6f6f4; /* 95.0% */
  --activityBar-background: #343746; /* 91.7% */
  --button-background: #44475A; /* 91.7% */
  --focusBorder: #7b7f8b; /* 91.7% */
  --list-activeSelectionBackground: #44475A; /* 91.7% */
  --list-hoverBackground: #44475A75; /* 91.7% */
  --statusBar-background: #191A21; /* 91.7% */
  --titleBar-activeBackground: #262626; /* 91.7% */
  --activityBarBadge-background: #f286c4; /* 90.0% */
}

/* 变量说明：
 * --editor-background: editor.background (57/60, 95.0%)
 * --editor-foreground: editor.foreground (57/60, 95.0%)
 * --activityBar-background: activityBar.background (55/60, 91.7%)
 * --button-background: button.background (55/60, 91.7%)
 * --focusBorder: focusBorder (55/60, 91.7%)
 * --list-activeSelectionBackground: list.activeSelectionBackground (55/60, 91.7%)
 * --list-hoverBackground: list.hoverBackground (55/60, 91.7%)
 * --statusBar-background: statusBar.background (55/60, 91.7%)
 * --titleBar-activeBackground: titleBar.activeBackground (55/60, 91.7%)
 * --activityBarBadge-background: activityBarBadge.background (54/60, 90.0%)
 */
