/* 主题: github-light - 频率最高的变量 */
:root {
  --editor-background: #fff; /* 95.0% */
  --editor-foreground: #24292e; /* 95.0% */
  --activityBar-background: #fff; /* 91.7% */
  --button-background: #159739; /* 91.7% */
  --focusBorder: #2188ff; /* 91.7% */
  --list-activeSelectionBackground: #e2e5e9; /* 91.7% */
  --list-hoverBackground: #ebf0f4; /* 91.7% */
  --statusBar-background: #fff; /* 91.7% */
  --titleBar-activeBackground: #fff; /* 91.7% */
  --activityBarBadge-background: #2188ff; /* 90.0% */
}

/* 变量说明：
 * --editor-background: editor.background (57/60, 95.0%)
 * --editor-foreground: editor.foreground (57/60, 95.0%)
 * --activityBar-background: activityBar.background (55/60, 91.7%)
 * --button-background: button.background (55/60, 91.7%)
 * --focusBorder: focusBorder (55/60, 91.7%)
 * --list-activeSelectionBackground: list.activeSelectionBackground (55/60, 91.7%)
 * --list-hoverBackground: list.hoverBackground (55/60, 91.7%)
 * --statusBar-background: statusBar.background (55/60, 91.7%)
 * --titleBar-activeBackground: titleBar.activeBackground (55/60, 91.7%)
 * --activityBarBadge-background: activityBarBadge.background (54/60, 90.0%)
 */
