/* 主题: material-theme-palenight - 频率最高的变量 */
:root {
  --editor-background: #292D3E; /* 95.0% */
  --editor-foreground: #babed8; /* 95.0% */
  --activityBar-background: #292D3E; /* 91.7% */
  --button-background: #717CB450; /* 91.7% */
  --focusBorder: #FFFFFF00; /* 91.7% */
  --list-activeSelectionBackground: #292D3E; /* 91.7% */
  --list-hoverBackground: #292D3E; /* 91.7% */
  --statusBar-background: #292D3E; /* 91.7% */
  --titleBar-activeBackground: #292D3E; /* 91.7% */
  --activityBarBadge-background: #80CBC4; /* 90.0% */
}

/* 变量说明：
 * --editor-background: editor.background (57/60, 95.0%)
 * --editor-foreground: editor.foreground (57/60, 95.0%)
 * --activityBar-background: activityBar.background (55/60, 91.7%)
 * --button-background: button.background (55/60, 91.7%)
 * --focusBorder: focusBorder (55/60, 91.7%)
 * --list-activeSelectionBackground: list.activeSelectionBackground (55/60, 91.7%)
 * --list-hoverBackground: list.hoverBackground (55/60, 91.7%)
 * --statusBar-background: statusBar.background (55/60, 91.7%)
 * --titleBar-activeBackground: titleBar.activeBackground (55/60, 91.7%)
 * --activityBarBadge-background: activityBarBadge.background (54/60, 90.0%)
 */
