/* min-dark 主题 CSS 变量 */
:root {
  --activityBar-background: #1A1A1A;
  --activityBar-foreground: #7D7D7D;
  --activityBarBadge-background: #383838;
  --badge-background: #383838;
  --badge-foreground: #C1C1C1;
  --button-background: #333;
  --debugIcon-breakpointCurrentStackframeForeground: #79b8ff;
  --debugIcon-breakpointDisabledForeground: #848484;
  --debugIcon-breakpointForeground: #FF7A84;
  --debugIcon-breakpointStackframeForeground: #79b8ff;
  --debugIcon-breakpointUnverifiedForeground: #848484;
  --debugIcon-continueForeground: #FF7A84;
  --debugIcon-disconnectForeground: #FF7A84;
  --debugIcon-pauseForeground: #FF7A84;
  --debugIcon-restartForeground: #79b8ff;
  --debugIcon-startForeground: #79b8ff;
  --debugIcon-stepBackForeground: #FF7A84;
  --debugIcon-stepIntoForeground: #FF7A84;
  --debugIcon-stepOutForeground: #FF7A84;
  --debugIcon-stepOverForeground: #FF7A84;
  --debugIcon-stopForeground: #79b8ff;
  --diffEditor-insertedTextBackground: #3a632a4b;
  --diffEditor-removedTextBackground: #88063852;
  --editor-background: #1f1f1f;
  --editor-lineHighlightBorder: #303030;
  --editorGroupHeader-tabsBackground: #1A1A1A;
  --editorGroupHeader-tabsBorder: #1A1A1A;
  --editorIndentGuide-activeBackground: #383838;
  --editorIndentGuide-background: #2A2A2A;
  --editorLineNumber-foreground: #727272;
  --editorRuler-foreground: #2A2A2A;
  --editorSuggestWidget-background: #1A1A1A;
  --focusBorder: #444;
  --foreground: #888888;
  --gitDecoration-ignoredResourceForeground: #444444;
  --input-background: #2A2A2A;
  --input-foreground: #E0E0E0;
  --inputOption-activeBackground: #3a3a3a;
  --list-activeSelectionBackground: #212121;
  --list-activeSelectionForeground: #F5F5F5;
  --list-focusBackground: #292929;
  --list-highlightForeground: #EAEAEA;
  --list-hoverBackground: #262626;
  --list-hoverForeground: #9E9E9E;
  --list-inactiveSelectionBackground: #212121;
  --list-inactiveSelectionForeground: #F5F5F5;
  --panelTitle-activeBorder: #1f1f1f;
  --panelTitle-activeForeground: #FAFAFA;
  --panelTitle-inactiveForeground: #484848;
  --peekView-border: #444;
  --peekViewEditor-background: #242424;
  --pickerGroup-border: #363636;
  --pickerGroup-foreground: #EAEAEA;
  --progressBar-background: #FAFAFA;
  --scrollbar-shadow: #1f1f1f;
  --sideBar-background: #1A1A1A;
  --sideBarSectionHeader-background: #202020;
  --statusBar-background: #1A1A1A;
  --statusBar-debuggingBackground: #1A1A1A;
  --statusBar-foreground: #7E7E7E;
  --statusBar-noFolderBackground: #1A1A1A;
  --statusBarItem-prominentBackground: #fafafa1a;
  --statusBarItem-remoteBackground: #1a1a1a00;
  --statusBarItem-remoteForeground: #7E7E7E;
  --symbolIcon-classForeground: #FF9800;
  --symbolIcon-constructorForeground: #b392f0;
  --symbolIcon-enumeratorForeground: #FF9800;
  --symbolIcon-enumeratorMemberForeground: #79b8ff;
  --symbolIcon-eventForeground: #FF9800;
  --symbolIcon-fieldForeground: #79b8ff;
  --symbolIcon-functionForeground: #b392f0;
  --symbolIcon-interfaceForeground: #79b8ff;
  --symbolIcon-methodForeground: #b392f0;
  --symbolIcon-variableForeground: #79b8ff;
  --tab-activeBorder: #1e1e1e;
  --tab-activeForeground: #FAFAFA;
  --tab-border: #1A1A1A;
  --tab-inactiveBackground: #1A1A1A;
  --tab-inactiveForeground: #727272;
  --terminal-ansiBrightBlack: #5c5c5c;
  --textLink-activeForeground: #fafafa;
  --textLink-foreground: #CCC;
  --titleBar-activeBackground: #1A1A1A;
  --titleBar-border: #00000000;
}
