/* 主题: vesper - 频率最高的变量 */
:root {
  --editor-background: #101010; /* 95.0% */
  --editor-foreground: #FFF; /* 95.0% */
  --activityBar-background: #101010; /* 91.7% */
  --button-background: #FFC799; /* 91.7% */
  --focusBorder: #FFC799; /* 91.7% */
  --list-activeSelectionBackground: #232323; /* 91.7% */
  --list-hoverBackground: #282828; /* 91.7% */
  --statusBar-background: #101010; /* 91.7% */
  --titleBar-activeBackground: #101010; /* 91.7% */
  --activityBarBadge-background: #FFC799; /* 90.0% */
}

/* 变量说明：
 * --editor-background: editor.background (57/60, 95.0%)
 * --editor-foreground: editor.foreground (57/60, 95.0%)
 * --activityBar-background: activityBar.background (55/60, 91.7%)
 * --button-background: button.background (55/60, 91.7%)
 * --focusBorder: focusBorder (55/60, 91.7%)
 * --list-activeSelectionBackground: list.activeSelectionBackground (55/60, 91.7%)
 * --list-hoverBackground: list.hoverBackground (55/60, 91.7%)
 * --statusBar-background: statusBar.background (55/60, 91.7%)
 * --titleBar-activeBackground: titleBar.activeBackground (55/60, 91.7%)
 * --activityBarBadge-background: activityBarBadge.background (54/60, 90.0%)
 */
